/* Careers-students.css */

/* Remove duplicate universal selector, as it's already in style.css */

/* Use root variables from style.css */
/* Assuming that :root is defined in style.css */
/* :root {
    --primary: #961043;
} */

/* Adjust body */
body {
    /* font-family: Arial, sans-serif; */
    /* background-color: #f5fafd; */
    /* Use styles from style.css */
}

hr {
    margin: 50px 100px;
    border: none;
    background-color: var(--primary);
    border-radius: 50%;
    box-shadow: 0 3px 10px var(--primary);
    height: 1px;
}

/* Adjust headings and paragraphs */
h1 {
    font-size: 48px;
    color: var(--primary);
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: var(--primary);
    line-height: 1.6;
}

hr {
    margin: 50px 100px;
    border: none;
    background-color: var(--primary);
    border-radius: 50%;
    box-shadow: 0 3px 10px var(--primary);
    height: 1px;
}

/* Adjust .learn-section */
.learn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    margin: 100px 0;
    background-color: #fff;
    /* Match body background-color */
}

.text-container {
    max-width: 50%;
}

.pattern-container {
    max-width: 40%;
}

/* Adjust .pattern */
.pattern {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom right, var(--primary) 25%, transparent 25%),
        linear-gradient(to top right, var(--primary) 25%, transparent 25%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

/* New Section CSS */
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #fff;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Carousel Section */
.carousel-section {
    background-color: #fff;
    padding: 50px 100px;
}

.carousel-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.tab {
    font-size: 16px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.tab:hover {
    color: #820e3a;
    /* Slightly darker shade of primary color */
}

.tab.active {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
}

.carousel-content {
    position: relative;
    padding-top: 20px;
}

.content-item {
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.content-item.active {
    display: block;
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.text-and-image {
    display: flex;
    background-color: var(--primary);
    padding: 30px;
    border-radius: 10px;
    color: #ffffff;
    align-items: center;
}

.text-and-image .text {
    flex: 1;
}

.text-and-image img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

.carousel-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Hero Section Styles */
.hero-section {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

/* White transparent overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.hero-text {
    text-align: center;
    color: white;
    z-index: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;
}

.hero-button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-button:hover {
    background-color: white;
    color: var(--primary);
}

.hero-button span {
    font-size: 24px;
    margin-left: 10px;
}

/* Ambitious Individuals Section */
.ambitious-section {
    background-color: #fff;
    padding: 100px 0;
}

.ambitious-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.ambitious-text {
    flex: 1;
    padding-right: 40px;
}

.ambitious-text h1 {
    font-size: 40px;
    color: var(--primary);
    margin-bottom: 20px;
}

.ambitious-text p {
    font-size: 18px;
    color: #333333;
    margin-bottom: 20px;
}

.ambitious-text ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
}

.ambitious-text ul li {
    font-size: 18px;
    color: var(--primary);
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.ambitious-text ul li::before {
    content: '♦';
    position: absolute;
    left: 0;
    color: var(--primary);
}

.explore-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.explore-button:hover {
    background-color: var(--primary);
    color: #ffffff;
}

.ambitious-image {
    flex: 1;
    text-align: right;
}

.ambitious-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Kickstart Your Journey Section */
.journey-section {
    background-color: #fff;
    padding: 100px 0;
}

.journey-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.journey-text {
    flex: 1;
}

.journey-text h1 {
    font-size: 40px;
    color: var(--primary);
    margin-bottom: 20px;
}

.journey-text p {
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
}

.journey-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Journey Boxes */
.journey-box {
    background-color: var(--primary);
    color: white;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    width: 100%;
}

.journey-box:last-child {
    margin-right: 0;
}

.journey-box:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.box-header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.box-content {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    /* Initially hides the content */
    background-color: #fafafa;
    color: #333;
    padding: 0 25px;

}

.box-content.open {
    max-height: 1000px;
    /* Adjust according to content size */
    padding: 15px 25px;
}

.toggle-button {
    font-size: 1.5em;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.journey-box.open .box-content {
    max-height: 1000px;
    display: block;
    transition: all 1s ease-in-out;
}

.journey-box.open .toggle-button {
    transform: rotate(45deg);
}

/* Tips for Applying Section */
.tips-section {
    padding: 50px 100px;
    background-color: #fff;
}

.tips-container {
    max-width: 800px;
    margin: 0 auto;
}

.tips-section h1 {
    font-size: 32px;
    color: var(--primary);
    margin-bottom: 30px;
}

.tip-item {
    border-bottom: 1px solid var(--primary);
    padding: 15px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tip-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: var(--primary);
}

.tip-header span {
    font-size: 24px;
}

.tip-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
    padding: 0 20px;
}

.tip-item.active .tip-content {
    max-height: 200px;
    opacity: 1;
}

.tip-item.active .tip-header span {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

/* People Main Section */
.peopleMain {
    position: relative;
    min-height: 100vh;
}

.peopleMain .cotent {
    top: 0;
    left: 0;
    z-index: 1;
    padding: 100px;
}

.peopleMain .cotent h1 {
    font-size: 50px;
    text-align: center;
    color: var(--primary);
    margin: 100px 0;
}

.peopleMain .cotent p {
    font-size: 20px;
    text-align: center;
    color: var(--primary);
    margin: 100px 0;
}

.peopleMain .cotent .images {
    display: grid;
    position: relative;
    z-index: 5;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.peopleMain .cotent .images .img {
    height: 500px;
}

.peopleMain .cotent .images img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

/* Responsive Styles */

/* Medium Devices (Desktops, 992px and up) */
@media (max-width: 1199px) {
    h1 {
        font-size: 42px;
    }

    .learn-section,
    .carousel-section,
    .peopleMain .cotent {
        padding: 80px;
    }

    .peopleMain .cotent h1 {
        font-size: 42px;
        margin: 80px 0;
    }

    .peopleMain .cotent p {
        font-size: 18px;
        margin: 80px 0;
    }

    .ambitious-text h1,
    .journey-text h1 {
        font-size: 36px;
    }

    .peopleMain .cotent .images {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablets (768px and up) */
@media (max-width: 991px) {
    h1 {
        font-size: 36px;
    }

    .learn-section,
    .carousel-section,
    .peopleMain .cotent {
        padding: 60px;
    }

    .peopleMain .cotent h1 {
        font-size: 36px;
        margin: 60px 0;
    }

    .peopleMain .cotent p {
        font-size: 16px;
        margin: 60px 0;
    }

    .ambitious-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ambitious-text {
        padding-right: 0;
    }

    .ambitious-image {
        text-align: center;
        margin-top: 20px;
    }

    .ambitious-image img {
        max-width: 80%;
    }

    .text-and-image {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-and-image img {
        margin-left: 0;
        margin-top: 20px;
        max-width: 80%;
    }

    .journey-boxes {
        flex-direction: column;
    }

    .journey-box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .carousel-tabs {
        flex-wrap: wrap;
    }

    .carousel-tabs .tab {
        flex: 1 1 100%;
        text-align: center;
    }

    .image-section {
        margin-bottom: 50px;
    }
}

/* Small Devices (Landscape Phones, 576px and up) */
@media (max-width: 767px) {
    h1 {
        font-size: 32px;
    }

    .learn-section,
    .carousel-section,
    .peopleMain .cotent {
        padding: 40px;
    }

    .peopleMain .cotent h1 {
        font-size: 32px;
        margin: 40px 0;
    }

    .peopleMain .cotent p {
        font-size: 16px;
        margin: 40px 0;
    }

    .hero-section {
        height: 300px;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .hero-button {
        font-size: 16px;
    }

    .text-and-image img {
        max-width: 100%;
    }

    .ambitious-image img {
        max-width: 100%;
    }

    .box-header {
        padding: 15px;
    }

    .box-header h2 {
        font-size: 18px;
    }

    .box-content {
        padding: 0 15px;
    }

    .toggle-button {
        width: 25px;
        height: 25px;
        font-size: 1.2em;
    }

    .image-section {
        margin-bottom: 50px;
    }
}

/* Extra Small Devices (Phones, less than 576px) */
@media (max-width: 575px) {
    h1 {
        font-size: 28px;
    }

    .learn-section,
    .carousel-section,
    .peopleMain .cotent {
        padding: 20px;
    }

    .tip-header {
        font-size: 15px;
    }

    section.learn-section {
        padding: 20px;
    }

    .peopleMain .cotent h1 {
        font-size: 28px;
        margin: 30px 0;
    }

    .peopleMain .cotent p {
        font-size: 14px;
        margin: 30px 0;
    }

    .hero-section {
        height: 250px;
    }

    .hero-text h1 {
        font-size: 28px;
    }

    .hero-button {
        font-size: 14px;
    }

    .ambitious-text h1,
    .journey-text h1 {
        font-size: 24px;
    }

    .ambitious-text p,
    .journey-text p {
        font-size: 14px;
    }

    .box-header h2 {
        font-size: 13px;
        font-weight: bolder;
    }

    .box-content p {
        font-size: 14px;
    }

    .tip-item {
        font: 16px;
    }

    .toggle-button {
        width: 25px;
        height: 25px;
        font-size: 1.2em;
    }

    .text-container {
        text-align: justify;

    }

    .image-section {
        margin-bottom: 50px;
    }
}